#add {
    display: flex;
    flex-direction: column;
    height: min-content;
    padding: 10px;
    margin: 10px;

    border: 2px solid black;
}

#add_button {
    align-self: flex-end;
    width: 7%;
    height: 27px;
}

#listContainer {
    display: flex;
    
    margin: 10px;
    padding: 10px;
    height: 100%;

    border: 2px solid black;
}

.checkList {
    width: 100%;
    

    border: 2px solid black;
}