body {
    background-color: rgba(29, 99, 204, 0.4);
}

#main {
    user-select: none;

    display: flex;
    flex-direction: column;
    height: 100vh;

    background-color: rgba(29, 99, 204, 0.4);
}

#header {
    display: flex;
    margin: 10px;
    
    font-size: x-large;
    font-family: Brush Script MT;

    border: 2px solid black;
    background-color: rgb(203, 184, 215);
}

#content {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 100%;

    border: 2px solid black;
    background-image: url("../img/background.jpg");
    background-size: cover;
}

#footer {
    display: flex;
    margin: 10px;

    border: 2px solid black;
    background-color: rgb(203, 184, 215);
}

#header, #footer, #content, #main {
    border-radius: 10px;
}